@font-face {
    font-family: Gliory;
    src: url(Gilroy-ExtraBold.otf);
   
}
@font-face {
    font-family: LOVEDA;
    src: url(groupemedium-8mxgn.otf);
}
html,body{
    
    height: 100%;
    width: 100%;
    
}
*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    font-family: Gliory;
}
#main{
    background-color: rgb(126, 51, 51);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
#top{
    background-color: rgb(230, 0, 153);
    height: 55%;
    width: 100%;
    background-image: url(https://images.unsplash.com/photo-1486707471592-8e7eb7e36f78?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1394&q=80);
    background-size: cover;
    background-position: 50% 80%;
    /* background-position: center; */
    
    position: relative;

}

#overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(4, 4, 4, 0.418);
    position: relative;
}
#topoftop {
    top: 2vw;
    position: absolute;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3vw;
}

#topleft {
    display: flex;
    align-items: center;
}

#topleft h5 {
    width: 30px;
    height: 30px;
    background-color: rgb(241, 68, 0);
    color: rgb(255, 255, 255);
    border-radius: 50%;
    border: solid 1px black;
    text-align: center;
    font-size: 25px;
    margin-right: 10px;
    font-family: Gliory;
}

#topleft p {
    font-size: 20px;
    color: #fff;
    font-family: LOVEDA;
}

#topright {
    display: flex;
    align-items: center;
}

#topright i {
    font-size: 24px;
    margin-left: 10px;
    color: #ffffff; /* Change the icon color as needed */
}

#text{
    width: 100vw;
   padding: 0 3vw;
  display: flex;
    position: absolute;
   bottom: 21%;
   justify-content: space-between;
   align-items: center;
   
}
#text h1{
   font-weight: 400;
    font-size: 5vw;
     color: #fff;
    
}
#tright{
    display: flex;
    width: 55%;
    justify-content: space-between;
    align-items: center;
}
#tright p{
    font-size: 15px;
    color: white;
    font-family:LOVEDA;
    width: 37%;

}
#icons{
    color: white;
    
}

#bottom{
    background-color: rgb(76, 0, 255);
    height: 45%;
    width: 100%;
    display: flex;
}
#child1{
    height: 100%;
    width: 25%;
    background-color: rgb(190, 210, 214);
}
#child2{
    height: 100%;
    width: 25%;
    background-image: url(https://images.unsplash.com/photo-1530007874544-a6f7674b5a47?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1374&q=80);
    background-position: center;
    background-size: cover;
    background-position: 50% 70%;
    
}
#child3{
    height: 100%;
    width: 20%;
    background-color: blue;
    
}
#ctop{
    height: 50%;
    width: 100%;
    background-color:orangered;
}
#cbottom{
    height: 50%;
    width: 100%;
   background-image: url(https://images.unsplash.com/photo-1559563362-c667ba5f5480?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1402&q=80);
   background-size: cover;
   background-position: center;
}
#child4 {
    height: 100%;
    width: 30%;
    padding: 25px;
    background-color: #444;
    color: #fff;
}

#child4 h3 {
    font-family: LOVEDA;
}
#child4 p{
    color: #fff;
}

.notif {
    display: flex;
    flex-direction: column;
}

.notification {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.circle {
    margin-top: 10px;
    width: 20px;
    height: 20px;
    background-color: orange;
    border-radius: 50%;
   border: 1px solid #b6a8af;

    margin-right: 10px;
}

.notification p {
    font-size: 14px;
    width: 80%;
    margin: 0; /* Remove default margin to prevent unwanted spacing */
    color: black;
    
}
#child1 h3{
    font-family: LOVEDA;
    font-size: 20px;
    color: black;
}
#child1{
    padding: 30px;
}
#child1 p{
    margin-top: 15px;
}
#child1 a{
    text-decoration: none;
    color: black;
}
#ctop{
    color: white;
    padding: 12px;
    
}
#ctop p{
    margin-top: 5px;
}